@import "tailwindcss";


:root {
  --background: #111010;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #111010;
  color: #ffffff;
  font-family: var(--font-karla);
}
